// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
 /** universal style ***/

 header {
     height: 80px;
 }
 
 
 #logo {
    height: 50px;
   float: left; 
 }

 .content-area {
     display: grid;
     grid-row-gap: 30px;
     padding-left: 70px;
 }

 .card {
     border-bottom: 0.5px solid lightgrey;
     padding-bottom: 30px;

 }
 .card-title {
     font-size: 20px;
     font-weight: bold;
     font-style: italic;
 }

 
 .card-text {   
     height: 100px;
     margin-bottom: 40px;
 }

 
