// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
 /** universal style ***/

 header {
     height: 80px;
 }
 
 
 #logo {
    height: 50px;
   float: left; 
 }

 .content-area {
     display: grid;
     grid-row-gap: 30px;
     padding-left: 70px;
 }

 .card {
     border-bottom: 0.5px solid lightgrey;
     padding-bottom: 30px;

 }
 .card-title {
     font-size: 20px;
     font-weight: bold;
     font-style: italic;
 }

 
 .card-text {   
     height: 100px;
     margin-bottom: 40px;
 }

 .show-container {
     padding-left: 70px;
 }

 .comment-container {
     margin-top: 50px;
     margin-left: 70px;
     width: 700px;
     border: 0.5px solid lightgray;
     padding: 20px 50px;
 }

 .comment-body {
     margin-bottom: 10px;
 }

 .comment-btn {
     width: 100%;
     background-color: black;
     color: white;
     border-style: none;
     padding: 10px 0px;
     margin-top: 20px;
 }

 .comment-text {
     display: flex;
     justify-content: space-between;
    
 }

 .comments {
     margin-top: 20px;
 }

 
